<!doctype html>
<html lang="es">
<html>
	<head>
        <title>Registrar</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0">
        <!--Bootstrap-->
        <link rel="stylesheet" href="../../static/posts/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="../../static/posts/bootstrap-grid.min.css" type="text/css">
        <link rel="stylesheet" href="../../static/posts/bootstrap-reboot.min.css" type="text/css">
        <!--Css Propio-->
        <link rel="stylesheet" href="../../static/posts/estilos.css">
        <!--Iconos-->
        <script src="https://kit.fontawesome.com/01f86331e9.js" crossorigin="anonymous"></script>
        <!--DataTables-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
	</head>
	<body>
        <div class="modal-body">
            <!--Forma Ingresar personal del consorcio-->
            {% block container %}
            <form id="forma-especialistas-cliente" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="codigo">Código</label>
                      <input type="text" class="form-control" id="codigo" name="codigo">
                      <p>geerson</p>
                    </div>
                    <div class="form-group col-md-9">
                      <label for="nombre">Nombres</label>

                      <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="form-group col-md-9">
                        <label for="apellido">Apellidos</label>
                        <input type="text" class="form-control" id="apellido" name="apellido">
                    </div>
                    <div class="form-group col-md-9">
                        <label for="dni">DNI</label>
                        <input type="text" class="form-control" id="dni" name="dni">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="telefono">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono">
                    </div>
                    <div class="form-group col-md-9">
                        <label for="email">Correo</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="fecha_nacimiento">Fecha Nacimiento</label>
                        <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-7">
                        <label for="cargo">Cargo</label>
                        <input type="text" class="form-control" id="cargo" name="cargo">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="fecha_inicio">Fecha Inicio</label>
                        <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio"> <!--value="2017-02-04"-->
                    </div>
                </div>
                <div class="form-row">
                    <!--div class="col-md-4">
                        <label for="esp-prov">Esp - Prov</label>
                        <select class="custom-select" id="esp-provPer">
                            <option selected disabled value="">Elija...</option>
                            <option value="Especialista">Especialista </option>
                            <option value="Proveedor">Proveedor</option>
                        </select>
                    </div-->
                    <div class="form-group col-md-5">
                        <label for="fecha_fin">Fecha Fin</label>
                        <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox"  id="vigente">
                      <label class="form-check-label" for="vigente">
                        Vigente
                      </label>
                    </div>
                </div>
                <div class="form-group col-md-9">
                    <label for="comentario">Comentario</label>
                    <input type="text" class="form-control" id="comentario" name="comentario">
                </div>
                <div class="form-group col-md-9">
                    <label for="consorcio_id">Codigo Proyecto</label>
                    <input type="number" class="form-control" id="proyecto_id" name="proyecto_id">
                </div>
                <div class="modal-footer justify-content-around">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" form="forma-especialistas-cliente" type="submit" name="guardar" value="guardar">Guardar</button>
                    <button type="submit" class="btn btn-primary" form="forma-especialistas-cliente" type="submit" name="eliminar" value="eliminar">Eliminar</button>
                    <button type="submit" class="btn btn-primary" form="forma-especialistas-cliente" type="submit" name="actualizar" value="actualizar">Actualizar</button>
                </div>
            </form>
            {% endblock %}  
        </div>

        <script src="../../static/posts/jquery.js"></script>
        <script src="../../static/posts/bootstrap.bundle.min.js"></script>
        <script src="../../static/posts/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        <script src="../../static/posts/script.js"></script>
    </body>
</html>